.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc
.env
node_modules/
dist/
dist-electron/
build/


# 后端忽略
backend/venv/
backend/__pycache__/
backend/.pytest_cache/
backend/uploads/
*.pyc

# 前端忽略
client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.pub-cache/
client/.pub/
client/build/
client/windows/flutter/ephemeral/

# 系统环境
.DS_Store
.vscode/